# MongoDB
MONGO_URI=mongodb+srv://migoodream2030_db_user:ShgveSr4JOqLCMbY@cluster0.lmp4ev1.mongodb.net/jeera?appName=Cluster0
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d

# Pusher (بديل Socket.io - يشتغل مع Vercel)
PUSHER_APP_ID=2196601
PUSHER_KEY=40b6a0f4d315bd870b88
PUSHER_SECRET=b887fbd64833c4c18871
PUSHER_CLUSTER=eu

# Server
PORT=5000
CLIENT_URL=http://localhost:5173
